.footer {
  margin: 0 auto;
}

.footer__copyright {
  font-weight: 400;
  color: #545454;
  margin: 67px 0 0;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 933px) {
  .footer {
    max-width: 581px;
  }

  .footer__copyright {
    margin: 67px auto 0;
    font-size: 16px;
    line-height: 16.94px;
  }
}

@media screen and (max-width: 621px) {
  .footer {
    max-width: 282px;
  }

  .footer__copyright {
    margin: 48px auto 0;
    font-size: 14px;
  }
}
