.image__modal {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.image__content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.image__picture {
  max-width: 75vw;
  max-height: 75vh;
}

.image__name {
  color: white;
  font-size: 12px;
  line-height: 14.52px;
  font-family: inherit;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

@media screen and (max-width: 621px) {
  .image__picture {
    min-width: 240px;
    min-height: 299px;
  }
}
