.image__modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #000;
  z-index: 99;
  padding: 0 2%;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.image__opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.image__content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.image__picture {
  max-width: 75vw;
  max-height: 75vh;
}

.image__name {
  color: white;
  font-size: 12px;
  line-height: 14.52px;
  font-family: inherit;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

.image__close-btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url(../images/cross_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  transition: all 0.3s;
}

@media screen and (max-width: 621px) {
  .image__close-btn {
    right: 5px;
    top: -46px;
    width: 26px;
    height: 26px;
  }

  .image__picture {
    min-width: 240px;
    min-height: 299px;
  }
}
