.profile {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
  transition: all 0.5s;
}

.profile__info {
  display: grid;
  align-items: baseline;
  grid-template-areas: "title button" "desc desc";
  grid-template-columns: minmax(auto, 375px) 24px;
  column-gap: 18px;
  row-gap: 7px;
}

.profile__title {
  margin: 0;
  grid-area: title;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.profile__edit-button {
  padding: 0;
  grid-area: button;
  background-color: transparent;
  background-image: url(../images/edit_icon.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border: solid 1px #fff;
}

.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  grid-area: desc;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.profile__add-button {
  background-color: transparent;
  background-image: url(../images/cross_icon.svg);
  width: 150px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 2px #fff;
  border-radius: 2px;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 0;
}

.profile__buttons {
  transition: all 0.25s;
}

.profile__buttons:hover {
  opacity: 0.6;
}

@media screen and (max-width: 933px) {
  .profile {
    margin: 0 2% 45px;
  }

  .profile__info {
    grid-template-columns: minmax(auto, 245px) 22px;
  }

  .profile__title {
    font-size: 27px;
  }

  .profile__edit-button {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 780px) {
  .profile__add-button {
    width: 50px;
  }

  .profile__edit-button {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 677px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 0 2% 36px;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__info {
    justify-content: center;
    grid-template-columns: minmax(auto, 196px) 18px;
    justify-items: center;
    align-items: inherit;
    gap: 14px 10px;
  }

  .profile__title {
    max-width: 205px;
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
    max-width: 282px;
  }
}
