.card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.card__delete-button {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent url(../images/delete_icon.svg) no-repeat center;
  width: 24px;
  height: 18px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card__delete-button:hover {
  opacity: 60%;
}

.card__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 282px;
}

.card__description {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-weight: 900;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.card__like {
  background: transparent url(../images/heart_icon.svg) no-repeat center;
  width: 24px;
  height: 19px;
  border: none;
  transition: opacity 0.3s;
  cursor: pointer;
}

.card__like:hover {
  opacity: 0.5;
}

.card__like_actived {
  background: transparent url(../images/heart_active_icon.svg) no-repeat center;
}
